body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Hide scrollbars */
  }

  .home p{
    margin-left: 5%; 
    margin-right: 5%; 
  }
  
  .about {
    padding: 0;
  }
  
  .contact {
    padding: 0;
  }
  
  .section {
    height: 100vh;
    width: 100%;
    background-color: #393E46; 
    color: #FFD369; 
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  .ass{
    display: block;
    margin-bottom: 10px; /* Add margin between .ass and .box */
  }


  .box{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    border: 1px solid #EEEEEE;
    color: red;
  }


  .imgupload a{
    padding-right: 5px;
    padding-left: 5px;
    color: #FFD369; 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px;
    font-size: 40px;
  }

  .imgupload .material-symbols-outlined {
    padding: 0;
    vertical-align: top;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 50px;
  }

  .imgupload a:hover {
    color: #222831;
    background-color: #FFD369; 
    clip-path: inset(0 0 0 0 round 10px);
  }
  .b1,.b2,.b3,.b4 {
    
    width: 50px;
    height: 50px;
    border: 1px solid #EEEEEE;
    color: red;
    font-size: 1rem;
}
  .b1{
    background-color: #EEEEEE;
  }
  .b2{
    background-color: #FFD369;
  }
  .b3{
    background-color: #393E46;
  }
  .b4{
    background-color: #222831;
  }
  

  /* NAVVVVV https://colorhunt.co/palette/222831393e46ffd369eeeeee */
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1vh 0;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    /*border-bottom: 1px solid #5C5470;
    background-color: #222831;*/
    justify-content: space-between;
    align-items: center;
}

.navbar div {
    display: flex;
    padding: 0;
    flex-grow: 0;
}

.navbar a {
    color: #FAF0E6;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}


.navlogo {
    margin-left: 10%;
}

.navbutt {
    margin-right: 10%;
}

.navbutt .material-symbols-outlined {
  padding: 0;
  vertical-align: top;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.navlogo a {
    font-size: 30px;
}



/* SECTION */



.sidebutt {
  display: flex;
  position: fixed;
  width: 200px;
  bottom: 20px;
  right: 20px; /* Adjust right positioning */
  padding: 10px 20px;
  color: #fff;
  justify-content: space-around;
  align-items: flex-end;
}

.sidebutt .material-symbols-outlined {
  display: flex;
  justify-content: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 30px;
}

.sidebutt button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #EEEEEE;
  color: #222831;
  cursor: pointer;
  
}

.sidebutt button:hover {
  border: 4px solid #FFD369;
}

.sidebutt .aButt {
  background-color: #FFD369;
  transition: all 0.4s ease-in-out;
}



@media (max-width: 480px) {
  .ass{
    display: block;
    margin-bottom: 10px; /* Add margin between .ass and .box */
    padding: 90px;
  }
  .navbar {
    justify-content: space-around;
    padding: 1vh 0px;
  }
  .navlogo {
    margin-left: 0px;
  }
  
  .navbutt {
    margin-right: 0; 
  }

  .navbutt {
    display: none;
  }
  
  .box{
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border: 1px solid #EEEEEE;
    color: red;
  }

  .sidebutt {
    display: flex;
    position: fixed;
    width: 200px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    justify-content: space-between;
    align-items: flex-end;
  }
}